#cabecalho{
    background-color:#FDF1EB;
}
    
.cabecalhoHome{    
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 150%);
    width: 100%;
    height: 100%;
}

#textoCabecalho{
    font-family: Roboto;
    color: white;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 70px;
}

#texto1{
    margin-left: 30px;   
    font-size: 13px;  
}

#texto2{
    margin-left: 30px;
    font-family: Noto Sans;
    font-size: large;
}

#texto3{
    margin-left: 30px;
    font-size: 13px;
}


#botaoIdioma{
    width: 97px;
    height: 34px;
    background: #FDF1EB;
    color: black;
    margin-left: -30px;
}

#imagemGlobal{
    margin-left: -5px;
    margin-top: -10px;
}

#bemVindo{
    margin-left: 150px;
    font-family: Quicksand;
    font-size: 14px;
}

#email{
    margin-left: 20px;
    font-family: Quicksand;
    font-size: 15px;
}

#imagemFoto{
    margin-left: 240px;
    margin-top: -60px;
    border-radius: 100px;
}

#imagemHome{
    width: 100%;
    margin-top: 70px;
}


#lateralHome{
    border-right:2px solid #CECECE;
    position: fixed;
    left: 0%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);;
    margin-top: -100px;

}

.bordasHome{
    border-bottom: 1px solid #CECECE;
    height: 33px;
    
}


.informacoes{
    font-family: Quicksand;
    font-size: 15px;
    color: black;
    height: 33px;
}

#sidebarTrabalhos{
    background-color: #FDF1EB;
    border-left: 5px solid #ED7839;
    
}


#textoVideo{
    font-size: 22px;
    color: #ED7839;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}

#botaoDownload{
    background: #ED7839;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: Roboto; 
    padding: 5px;
    width: 120px;
    height: 31px;
}

#imagemDownload{
    margin-top: -15px;
    padding: 5px;
}

#botaoStar, #botaoDoi{
    background: #ED7839;
    border-radius: 4px;
    width: 43px;
    height: 31px;
    padding: 5px;
}

#imagemStar, #imagemDoi{
    margin-top: -10px;
}

#tituloBarraDireita{
    font-family: Roboto;
    font-size: 14px;
    line-height: 25px;
    color:#ED7839;
    margin-top: 10px;
    text-align: left;
}
 

.textoApresentacao{
    font-family: Quicksand;
    font-size: 15px;
    overflow-y: auto; 
    height: 390px ;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}


#tituloDetalhes{
    font-family: Roboto;
    font-size: 20px;
    color: #4E4E4E;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    width: 250px;
    text-align: center;
    
}

.textoFixo {
    display: none;
  }
  
.textoEscondido {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: none;
    font-family: Quicksand;
    text-align: justify;
    color: #5C5C5C;
}
  
.read-more-txt{
    font-family: Quicksand;
    text-align: justify;
    color: #5C5C5C;
    border: 0px !important;
    font-size: 12pt;
    margin-top: 15px;
}
  
.read-more-wrap{
    display: block;
    font-size: 0px;
}

.textoFixo:checked ~ .read-more-wrap .textoEscondido {
    opacity: 1;
    font-size: inherit;
    font-size: 12pt;
}
  
  
.verMais {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #ED7839;
    font-weight: bold;
    font-family: Quicksand;
}


#verMais{
    color: #ED7839;
    cursor: pointer;
    font-weight: bold;
}


#tituloResumo{
    font-family: Roboto;
    color: #4E4E4E;
    font-size: 20px;
    background-color:#FDF1EB;
    border: 1px solid #ECECEC;
    height:45px;
    border-radius: 3px 3px 0px 0px;
    text-align: justify;
}


.bordasDoTituloResumo{
    border: 1px solid #ECECEC;
}

#tituloDiscussoes{
    font-family: Roboto;
    color: #4E4E4E;
    font-size: 20px;
    background-color:#FDF1EB;
    border: 1px solid #ECECEC;
    height:45px;
    border-radius: 3px 3px 0px 0px;
    text-align: justify;

}

.bordas{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;

}

#campoAssunto, #campoConteudo{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #ED7839;
    width: 100%;
    text-align: justify;
    margin-top: 15px;
}

#caixaAssunto{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-family: Quicksand;
}

#caixaConteudo{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    height: 100px;
}
.imagemFormatacao{
    height: 31px;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    margin-left: -25px;
    margin-right: -25px;
    text-align: justify;
    word-spacing: 20px;
}
.textoLaranja{
    color: #ED7839;
    font-size: 16px;
    font-weight: bold;
}

.textoLaranjaTopico{
    color: #ED7839;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#textoLinks{
    color: #F48F44;
    font-size: 14px;
    width: 306px;
    height: 20px;
}

.inputFixoPergunta {
    display: none;
}

.inputFixoPergunta:checked ~ .textDinamico {
    display: none;
}

#imagemFeedback{
    margin-top: 25px;
    margin-left: 100px;
}

.feedback{
    background-color: #DDDDDD;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 148px;
    margin-top: 15px;
    opacity: .8;
}

#novoTopico{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 235px;
    height: 32px;
    color: white;
    font-family: Quicksand;
}

#textoFeedback{
    font-size: 16px;
    color: #707070;
    font-weight: bold;

}

.textCompartilhe{
    text-align: center;

}

.fonteMaior{
    font-family: Quicksand;
    font-size: 14px;
    color: #4D4D4D;
}

.compartilheSuasIdeias{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
    margin-top: 25px;
}

.iconesCompartilhe{
    word-spacing: 50px;
    margin-top: 40px;

}

#textoCompartilheIcons{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
    margin-top: 40px;
    
}

#divForm{
    display: none;
}

.checkTopicoEnviado{
    display: none;
}

#botao{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: white;
    Width: 133px;
    Height: 32px;
    font-family: Quicksand;
}

#topicoEnviar{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    color: white;
    width: 205px;
    height: 31px;
    margin-left: 905px;
}

#enviar{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5C5C5C;
    margin-top: 25px;
}

.assuntoPergunta{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    
}

#textoAssuntoPergunta{
    margin-left: 40px;
    font-family: Quicksand;
}

#footerAssunto{
    margin-left: 40px;
}

.textoLaranja{
    color: #ED7839;
    font-size: 16px;
    font-weight: bold;
}


.fonteMenor{
    font-size: 12px;
    color: #5C5C5C;
    font-family: Quicksand;
}


#imagemFooter{
    width: 100%;
    margin-left: 130px;
    margin-top: 20px;
}


.iconesAutor{
    text-align: right;
    word-spacing: 20px;
}

#nomeComentarios{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    margin-top: 10px;
}

#comentarios{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    text-align: justify;
}


.estilizacaoComentarios{
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
}


